V1.8/hps3d-distance-cli/nodered_flow2.json
[
    {
        "id": "measurement_tab",
        "type": "tab",
        "label": "4-Punkt Messung",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "control_group",
        "type": "ui_group",
        "name": "Steuerung",
        "tab": "measurement_tab",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "status_group",
        "type": "ui_group",
        "name": "Status",
        "tab": "measurement_tab",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "gauge_group",
        "type": "ui_group",
        "name": "Messpunkte",
        "tab": "measurement_tab",
        "order": 3,
        "disp": true,
        "width": "24"
    },
    {
        "id": "start_button",
        "type": "ui_button",
        "z": "measurement_tab",
        "name": "Start",
        "group": "control_group",
        "order": 1,
        "width": 3,
        "height": 1,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "mi-play_arrow",
        "payload": "start",
        "payloadType": "str",
        "topic": "topic",
        "x": 130,
        "y": 120,
        "wires": [["mqtt_control"]]
    },
    {
        "id": "stop_button",
        "type": "ui_button",
        "z": "measurement_tab",
        "name": "Stop",
        "group": "control_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "mi-stop",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "x": 130,
        "y": 160,
        "wires": [["mqtt_control"]]
    },
    {
        "id": "mqtt_control",
        "type": "mqtt out",
        "z": "measurement_tab",
        "name": "Control",
        "topic": "hps3d/control",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt-server",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "measurement_tab",
        "name": "Measurements",
        "topic": "hps3d/measurements",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-server",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 240,
        "wires": [["status_text", "point_filter"]]
    },
    {
        "id": "status_text",
        "type": "ui_text",
        "z": "measurement_tab",
        "group": "status_group",
        "order": 1,
        "width": 6,
        "height": 2,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload.active ? 'Aktiv' : 'Gestoppt'}}",
        "layout": "row-spread",
        "x": 320,
        "y": 200,
        "wires": []
    },
    {
        "id": "point_filter",
        "type": "function",
        "z": "measurement_tab",
        "name": "Filter Points",
        "func": "const points = msg.payload.measurements;\nconst output = [];\n\nfor (const [name, data] of Object.entries(points)) {\n    if (data.valid) {\n        output.push({\n            topic: name,\n            payload: data.distance_mm\n        });\n    }\n}\n\nreturn [output];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 280,
        "wires": [["split_points"]]
    },
    {
        "id": "split_points",
        "type": "split",
        "z": "measurement_tab",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 490,
        "y": 280,
        "wires": [["route_points"]]
    },
    {
        "id": "route_points",
        "type": "switch",
        "z": "measurement_tab",
        "name": "Route Points",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "point_1", "vt": "str"},
            {"t": "eq", "v": "point_2", "vt": "str"},
            {"t": "eq", "v": "point_3", "vt": "str"},
            {"t": "eq", "v": "point_4", "vt": "str"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 650,
        "y": 280,
        "wires": [["gauge1"], ["gauge2"], ["gauge3"], ["gauge4"]]
    },
    {
        "id": "gauge1",
        "type": "ui_gauge",
        "z": "measurement_tab",
        "name": "Punkt 1",
        "group": "gauge_group",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Punkt 1",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "1600",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "gauge2",
        "type": "ui_gauge",
        "z": "measurement_tab",
        "name": "Punkt 2",
        "group": "gauge_group",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Punkt 2",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "1600",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "gauge3",
        "type": "ui_gauge",
        "z": "measurement_tab",
        "name": "Punkt 3",
        "group": "gauge_group",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Punkt 3",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "1600",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "gauge4",
        "type": "ui_gauge",
        "z": "measurement_tab",
        "name": "Punkt 4",
        "group": "gauge_group",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Punkt 4",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "1600",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 820,
        "y": 360,
        "wires": []
    }
] 