V1.8/hps3d-distance-cli/nodered_flow_pointcloud.json
[
    {
        "id": "pointcloud_tab",
        "type": "tab",
        "label": "Punktwolke",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt-server",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_tab_pointcloud",
        "type": "ui_tab",
        "name": "Punktwolke",
        "icon": "mi-cloud",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "pointcloud_group",
        "type": "ui_group",
        "name": "Punktwolke",
        "tab": "ui_tab_pointcloud",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "pointcloud_button",
        "type": "ui_button",
        "z": "pointcloud_tab",
        "name": "Punktwolke abrufen",
        "group": "pointcloud_group",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Punktwolke abrufen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mi-cloud_download",
        "payload": "get_pointcloud",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 120,
        "wires": [["pointcloud_mqtt_out"]]
    },
    {
        "id": "pointcloud_mqtt_out",
        "type": "mqtt out",
        "z": "pointcloud_tab",
        "name": "Control",
        "topic": "hps3d/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-server",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "pointcloud_mqtt_in",
        "type": "mqtt in",
        "z": "pointcloud_tab",
        "name": "Punktwolke",
        "topic": "hps3d/pointcloud",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-server",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 200,
        "wires": [["pointcloud_prepare"]]
    },
    {
        "id": "pointcloud_prepare",
        "type": "function",
        "z": "pointcloud_tab",
        "name": "Prepare Worldmap Data",
        "func": "// Daten aus der Punktwolke extrahieren\nconst data = msg.payload.data;\nconst maxDist = 1600; // Maximum distance in mm\n\n// Punkte für die Worldmap vorbereiten\nconst points = data.map(point => ({\n    name: `Point_${point.x}_${point.y}`,\n    lat: point.y / 2,  // Skalierung für bessere Darstellung\n    lon: point.x / 2,  // Skalierung für bessere Darstellung\n    altitude: point.d,  // Höhe = Distanz\n    // Farbe basierend auf Distanz (blau=nah, grün=mittel, rot=fern)\n    color: point.d < maxDist/3 ? 'blue' : \n           point.d < 2*maxDist/3 ? 'green' : 'red',\n    radius: 1,  // Kleine Punkte für bessere Performance\n    layer: 'pointcloud',\n    iconColor: '#000000'\n}));\n\n// Worldmap Konfiguration\nmsg.payload = {\n    command: {\n        map: {\n            zoom: 12,  // Anpassbar je nach Bedarf\n            layer: 'pointcloud',\n            name: 'HPS3D-160 Punktwolke'\n        },\n        layer: 'pointcloud'\n    },\n    points: points\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [["pointcloud_worldmap"]]
    },
    {
        "id": "pointcloud_worldmap",
        "type": "worldmap",
        "z": "pointcloud_tab",
        "name": "3D Punktwolke",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "pointcloud",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overrideMenu": "false",
        "x": 580,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "worldmap_iframe",
        "type": "ui_template",
        "z": "pointcloud_tab",
        "group": "pointcloud_group",
        "name": "Worldmap Frame",
        "order": 2,
        "width": "24",
        "height": "12",
        "format": "<iframe src=\"worldmap\" style=\"width:100%; height:100%; border:none;\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 280,
        "wires": [[]]
    }
] 