V1.8/hps3d-distance-cli/nodered_flow.json
[
    {
        "id": "hps3d_flow",
        "type": "tab",
        "label": "HPS3D LIDAR Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "mqtt-server",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "hps3d_flow",
        "name": "LIDAR Measurements",
        "topic": "hps3d/measurements",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "x": 150,
        "y": 100,
        "wires": [["process_measurements"]]
    },
    {
        "id": "process_measurements",
        "type": "function",
        "z": "hps3d_flow",
        "name": "Process Points",
        "func": "// Extrahiere die Messwerte\nconst points = msg.payload.measurements;\n\n// Erstelle für jeden Punkt einen eigenen Gauge\nfor (const [name, data] of Object.entries(points)) {\n    const pointMsg = {\n        topic: name,\n        payload: data.distance_mm,\n        valid: data.valid,\n        min: data.min_distance_mm,\n        max: data.max_distance_mm,\n        timestamp: msg.payload.timestamp\n    };\n    \n    // Sende an den entsprechenden Gauge und Chart\n    node.send([pointMsg, pointMsg]);\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [["point_gauges"], ["point_charts"]]
    },
    {
        "id": "point_gauges",
        "type": "ui_gauge",
        "z": "hps3d_flow",
        "name": "Point Distance",
        "group": "g-lidar",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "#{topic}",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "point_charts",
        "type": "ui_chart",
        "z": "hps3d_flow",
        "name": "Distance History",
        "group": "g-lidar",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Distanz Historie",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Keine Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "10",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "control_switch",
        "type": "ui_switch",
        "z": "hps3d_flow",
        "name": "LIDAR Control",
        "label": "Measurement Active",
        "tooltip": "",
        "group": "g-lidar",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "topicType": "str",
        "style": "",
        "onvalue": "start",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "stop",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 200,
        "wires": [["mqtt_control"]]
    },
    {
        "id": "mqtt_control",
        "type": "mqtt out",
        "z": "hps3d_flow",
        "name": "Control Command",
        "topic": "hps3d/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "http_status",
        "type": "http request",
        "z": "hps3d_flow",
        "name": "Get Status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 300,
        "wires": [["status_display"]]
    },
    {
        "id": "status_trigger",
        "type": "inject",
        "z": "hps3d_flow",
        "name": "Check Status",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [["http_status"]]
    },
    {
        "id": "status_display",
        "type": "ui_text",
        "z": "hps3d_flow",
        "group": "g-lidar",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload.active ? 'Active' : 'Inactive'}} | {{msg.payload.connected ? 'Connected' : 'Disconnected'}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "debug_view",
        "type": "debug",
        "z": "hps3d_flow",
        "name": "Debug View",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "g-lidar",
        "type": "ui_group",
        "name": "LIDAR",
        "tab": "t-lidar",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "t-lidar",
        "type": "ui_tab",
        "name": "LIDAR Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
] 