V1.8/hps3d-distance-cli/nodered_flow.json
[
    {
        "id": "hps3d_flow",
        "type": "tab",
        "label": "HPS3D LIDAR Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "mqtt-server",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "hps3d_flow",
        "name": "LIDAR Measurements",
        "topic": "hps3d/measurements",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "x": 150,
        "y": 100,
        "wires": [["process_measurements"]]
    },
    {
        "id": "process_measurements",
        "type": "function",
        "z": "hps3d_flow",
        "name": "Process Points",
        "func": "// Extrahiere die Messwerte\nconst points = msg.payload.measurements;\n\n// Speichere nur die Distanzwerte als ganze Zahlen im globalen Kontext\nglobal.set('lidar_point1', Math.round(points.point_1.distance_mm));\nglobal.set('lidar_point2', Math.round(points.point_2.distance_mm));\nglobal.set('lidar_point3', Math.round(points.point_3.distance_mm));\nglobal.set('lidar_point4', Math.round(points.point_4.distance_mm));\n\n// Erstelle separate Nachrichten f端r jeden Punkt im Chart\nconst chartMsgs = [\n    { topic: 'Punkt 1', payload: points.point_1.distance_mm },\n    { topic: 'Punkt 2', payload: points.point_2.distance_mm },\n    { topic: 'Punkt 3', payload: points.point_3.distance_mm },\n    { topic: 'Punkt 4', payload: points.point_4.distance_mm }\n];\n\n// Erstelle die Gauge-Nachrichten als Array\nconst gaugeMessages = [\n    {\n        topic: 'point_1',\n        payload: points.point_1.distance_mm,\n        valid: points.point_1.valid\n    },\n    {\n        topic: 'point_2',\n        payload: points.point_2.distance_mm,\n        valid: points.point_2.valid\n    },\n    {\n        topic: 'point_3',\n        payload: points.point_3.distance_mm,\n        valid: points.point_3.valid\n    },\n    {\n        topic: 'point_4',\n        payload: points.point_4.distance_mm,\n        valid: points.point_4.valid\n    }\n];\n\n// Sende Nachrichten an Gauges und Chart\nnode.send([gaugeMessages, chartMsgs]);\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Initialisiere globale Variablen\nglobal.set('lidar_point1', 0);\nglobal.set('lidar_point2', 0);\nglobal.set('lidar_point3', 0);\nglobal.set('lidar_point4', 0);",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [["point_filter_1", "point_filter_2", "point_filter_3", "point_filter_4"], ["point_charts"]]
    },
    {
        "id": "point_filter_1",
        "type": "switch",
        "z": "hps3d_flow",
        "name": "Filter Point 1",
        "property": "topic",
        "propertyType": "msg",
        "rules": [{"t": "eq", "v": "point_1", "vt": "str"}],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 80,
        "wires": [["point_gauge_1"]]
    },
    {
        "id": "point_filter_2",
        "type": "switch",
        "z": "hps3d_flow",
        "name": "Filter Point 2",
        "property": "topic",
        "propertyType": "msg",
        "rules": [{"t": "eq", "v": "point_2", "vt": "str"}],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 120,
        "wires": [["point_gauge_2"]]
    },
    {
        "id": "point_filter_3",
        "type": "switch",
        "z": "hps3d_flow",
        "name": "Filter Point 3",
        "property": "topic",
        "propertyType": "msg",
        "rules": [{"t": "eq", "v": "point_3", "vt": "str"}],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 160,
        "wires": [["point_gauge_3"]]
    },
    {
        "id": "point_filter_4",
        "type": "switch",
        "z": "hps3d_flow",
        "name": "Filter Point 4",
        "property": "topic",
        "propertyType": "msg",
        "rules": [{"t": "eq", "v": "point_4", "vt": "str"}],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 200,
        "wires": [["point_gauge_4"]]
    },
    {
        "id": "point_gauge_1",
        "type": "ui_gauge",
        "z": "hps3d_flow",
        "name": "Point 1 Distance",
        "group": "g-lidar",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Point 1",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "1600",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "point_gauge_2",
        "type": "ui_gauge",
        "z": "hps3d_flow",
        "name": "Point 2 Distance",
        "group": "g-lidar",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Point 2",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "1600",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "point_gauge_3",
        "type": "ui_gauge",
        "z": "hps3d_flow",
        "name": "Point 3 Distance",
        "group": "g-lidar",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Point 3",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "1600",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "point_gauge_4",
        "type": "ui_gauge",
        "z": "hps3d_flow",
        "name": "Point 4 Distance",
        "group": "g-lidar",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Point 4",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "1600",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "point_charts",
        "type": "ui_chart",
        "z": "hps3d_flow",
        "name": "Distance History",
        "group": "g-lidar",
        "order": 7,
        "width": "12",
        "height": "4",
        "label": "Distanz Historie",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Keine Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "1600",
        "removeOlder": "10",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 160,
        "wires": [[]],
        "options": {
            "seriesColors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c"],
            "seriesNames": ["Punkt 1", "Punkt 2", "Punkt 3", "Punkt 4"]
        }
    },
    {
        "id": "control_switch",
        "type": "ui_switch",
        "z": "hps3d_flow",
        "name": "LIDAR Control",
        "label": "Measurement Active",
        "tooltip": "",
        "group": "g-lidar",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "topicType": "str",
        "style": "",
        "onvalue": "start",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "stop",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 200,
        "wires": [["mqtt_control"]]
    },
    {
        "id": "mqtt_control",
        "type": "mqtt out",
        "z": "hps3d_flow",
        "name": "Control Command",
        "topic": "hps3d/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "http_status",
        "type": "http request",
        "z": "hps3d_flow",
        "name": "Get Status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 300,
        "wires": [["status_display"]]
    },
    {
        "id": "status_trigger",
        "type": "inject",
        "z": "hps3d_flow",
        "name": "Check Status",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [["http_status"]]
    },
    {
        "id": "status_display",
        "type": "ui_text",
        "z": "hps3d_flow",
        "group": "g-lidar",
        "order": 2,
        "width": "9",
        "height": "1",
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload.active ? 'Active' : 'Inactive'}} | {{msg.payload.connected ? 'Connected' : 'Disconnected'}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "debug_view",
        "type": "debug",
        "z": "hps3d_flow",
        "name": "Debug View",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "g-lidar",
        "type": "ui_group",
        "name": "LIDAR",
        "tab": "t-lidar",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "t-lidar",
        "type": "ui_tab",
        "name": "LIDAR Control",
        "icon": "mi-arrow_downward",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "pointcloud_tab",
        "type": "tab",
        "label": "Punktwolke",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "pointcloud_button",
        "type": "ui_button",
        "z": "pointcloud_tab",
        "name": "Punktwolke abrufen",
        "group": "pointcloud_group",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Punktwolke abrufen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mi-cloud_download",
        "payload": "get_pointcloud",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 120,
        "wires": [["pointcloud_mqtt_out"]]
    },
    {
        "id": "pointcloud_mqtt_out",
        "type": "mqtt out",
        "z": "pointcloud_tab",
        "name": "Control",
        "topic": "hps3d/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-server",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "pointcloud_mqtt_in",
        "type": "mqtt in",
        "z": "pointcloud_tab",
        "name": "Punktwolke",
        "topic": "hps3d/pointcloud",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-server",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 200,
        "wires": [["pointcloud_prepare"]]
    },
    {
        "id": "pointcloud_prepare",
        "type": "function",
        "z": "pointcloud_tab",
        "name": "Prepare Plotly Data",
        "func": "// Daten aus der Punktwolke extrahieren\nconst data = msg.payload.data;\n\n// Arrays f端r x, y, z Koordinaten\nconst x = [];\nconst y = [];\nconst z = [];\n\n// Farbskala f端r die Distanz\nconst maxDist = 1600; // Maximum distance in mm\n\n// Daten verarbeiten\ndata.forEach(point => {\n    x.push(point.x);\n    y.push(point.y);\n    z.push(point.d);\n});\n\n// Plotly Konfiguration\nconst plotData = [{\n    type: 'scatter3d',\n    mode: 'markers',\n    x: x,\n    y: y,\n    z: z,\n    marker: {\n        size: 3,\n        color: z,\n        colorscale: [\n            [0, 'blue'],    // Nahe Punkte\n            [0.5, 'green'],  // Mittlere Distanz\n            [1.0, 'red']     // Ferne Punkte\n        ],\n        colorbar: {\n            title: 'Distanz (mm)'\n        },\n        cmin: 0,\n        cmax: maxDist\n    }\n}];\n\n// Layout konfigurieren\nconst layout = {\n    title: 'HPS3D-160 Punktwolke',\n    scene: {\n        xaxis: {title: 'X (Pixel)'},\n        yaxis: {title: 'Y (Pixel)'},\n        zaxis: {title: 'Distanz (mm)'}\n    },\n    margin: {l: 0, r: 0, b: 0, t: 30},\n    showlegend: false\n};\n\n// Config f端r interaktive Funktionen\nconst config = {\n    responsive: true,\n    displayModeBar: true,\n    displaylogo: false\n};\n\nmsg.payload = [plotData, layout, config];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [["pointcloud_plot"]]
    },
    {
        "id": "pointcloud_plot",
        "type": "ui_plotly",
        "z": "pointcloud_tab",
        "group": "pointcloud_group",
        "order": 2,
        "width": "24",
        "height": "12",
        "name": "3D Punktwolke",
        "x": 580,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "pointcloud_group",
        "type": "ui_group",
        "name": "Punktwolke",
        "tab": "pointcloud_tab",
        "order": 4,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    }
] 